/* @supports (background: linear-gradient) { */
html {
    /* background: linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%); */
    /* background-color: #3AAA34; */
    background-image: url("/images/background.png");
    /* background-color: #3AAA34; */
    background-size: cover;
    color: black ;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow-x: hidden; */
}

@supports (background: linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%)) {
    html { 
     background: linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%), linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%);
     background-size: cover;
     background-attachment: fixed;
    }
 }

h1 {
    color: white ;
    text-align: center;
    font-size:xx-large;
    /* text-shadow: 1px 1px 1px #3AAA34,
             1px 2px 1px #3AAA34,
             1px 3px 1px #3AAA34,
             1px 4px 1px #3AAA34,
             1px 5px 1px #3AAA34,
             1px 6px 1px #3AAA34,
             1px 10px 5px rgba(16, 16, 16, 0.5),
             1px 15px 10px rgba(16, 16, 16, 0.4),
             1px 20px 30px rgba(16, 16, 16, 0.3),
             1px 25px 50px rgba(16, 16, 16, 0.2); */
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.multi-step-form {
    overflow: hidden;
    position: relative;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    border: solid transparent;
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 1em;  
    padding: .5rem;
    /* max-width: 80vw; */
    /* margin: 0 auto; */
}

.card.is-default-hidden {
    display: none;
}

.card.is-default-hidden.active {
    display: block;
}

.form-group:last-child {
    margin: 0;
}
  
legend {
    /* color: #3AAA34; */
    color: black ;
    font-size: large;  
    margin-left: 1em;
    width: 100%;
}

strong { 
    width: 100%
}

input[type="text"] {
    margin: 1em;
}


select {
    border: none;
    border-radius: 1em;
    border: solid transparent;
    height: 3em;
    text-align: center;
    cursor: pointer;
}

input[type="number"] {
    border: solid transparent;
    border-radius: 1em;
    height: 3em;
    text-align: center;
    cursor: pointer;
}

/* zodat je in chrome de omhoog en omlaag pijltjes altijd in beeld zit en niet alleen met een mouse over */
input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
}

div {
    display: block
}

input[type="radio"] {
    cursor: pointer;
}

textarea {
    border: solid transparent;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
}

button, input[type="submit"] {
    background: #1899D6;
    border: solid transparent;
    border-radius: 1em;
    color: black ;
    cursor: pointer;
    /* font-family: din-round,sans-serif; */
    font-size: 1em;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    width: 10em;
}

button, input[type="submit"] {
    filter: brightness(1.1);
}

.pe-buttons {
    display:none;
}
 
    /* saw something about using a no-js class on the body and adding that to selectors and removing it when js is enabled? thats what i wanna do or find another way to change the transform of the keyframes based on of js is on or off */
  /* .no-js .showEverything {
    transform: scale(1);
  }
  .yes-js .hideEverything {
    transform: scale(0);
  } */
  
  /* .active {
    visibility: visible;
  } */
  
    /* deze zou ik dan nog met javascript toevoegen, zodat de fieldsets zonder javascript gewoon onder elkaar staan en te zien zijn*/
    /* @supports (animation: fade 250ms ease-in-out forwards) { 
    
    .hide {
      display: none;
    }
      
    .card {
      animation: fade 250ms ease-in-out forwards;
    } 
  
     @keyframes fade {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(.75);
        opacity: 1;
      }
      100% {
        opacity: 1;
        transform: scale(0);
      }
    }
  }
  
    
  @supports (animation: slide 250ms 125ms ease-in-out both) {
    
    .card.active {
      animation: slide 250ms 125ms ease-in-out both;
    }
  
  @keyframes slide {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  } */
  
  
   